@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:700,900');

body{
  font: 15px/1.5 Arial, ;
  font-family: 'Roboto Slab', serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#fb2e01;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#f4f4f4;
}

.dark{
  padding:15px;
  background:#2e2e2e;;
  color:#f4f4f4;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  font-family: 'Merriweather', serif;
  background: #f4f4f4;
  color:#2e2e2e;
  padding:10px 0px;
  min-height:50px;
  border-bottom:#fb2e01 3px solid;
}

header a{
  color:#2e2e2e;
  font-weight: bold;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  display: inline-block;
  width: 450px;
}

header #logo{
  float: left;
  padding-right: 20px;
  width: 75px;
}

header #branding h1{ 
  margin:0;
}

header #branding h4{
  margin: 0;
  display: inline-block;
  margin-left: 75px;
}

header nav{
  float:right;
  margin-top:25px;
  overflow: hidden;
  
}

header .highlight,   header .current a{
  color:#fb2e01;
  font-weight:bold;
}

header a:hover{
  color:#fb2e01;
  font-weight:bold;
}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #2e2e2e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #fb2e01;
}

.active {
  background-color: #2e2e2e;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child)  {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
  .topnav{
    background-color: #ddd
  }
}

/* Showcase */
#showcase{
  height:450px;
  overflow: hidden;
  position: relative;
  text-align:center;
  background-color:#2e2e2e;
}

#showcase video{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#2e2e2e;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes a{
  text-decoration:none; 
  color: #000000;
}
#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Products */
ul#products li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#2e2e2e;;
  text-align: center;
  border-top:#fb2e01 5px solid;
}

/* Media Queries */
@media(max-width: 600px){
  header #branding,
  header nav,
  header nav li,
  #showcase video,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  article#storeMain-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase{
    height: 200px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

@media(max-width: 400px){
  header #branding{
    font-size: 10px;
  }
}
